<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Durd Bot</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
    {% block body %}
    {% endblock %}
    </body>

</html>